function grep
{
    command grep --color=auto "$@"
}

function ls
{
    command ls -AFG "$@"
}

function ll
{
    command ls -AFGhlps "$@"
}

function mkdir
{
    # create nested subdirectories if required
    command mkdir -p "$@"
}

# opens a VIM server
# the arguments should be: servername [file..]
function vs
{
    command vim --servername "$@"
}

# opens some files in a VIM server
# the arguments should be: servername file [file..]
function vrs
{
    servername=$1
    shift
    command vim --servername "$servername" --remote-silent "$@" 
}
