[user]
	name = Alejandro Gomez
	email = alejandroogomez@gmail.com
[core]
	editor = vim
[alias]
	a = add
	ap = add -p
	b = branch -v
	c = commit
	cm = commit -m
	co = checkout 
    d = diff
    l = log --pretty=oneline
    m = merge
    ph = push
    pl = pull --rebase
    s = status -s
    st = stash
    sta = stash apply
    unstage = reset HEAD -- 
[color]
	ui = true
