[user]
    name = Alejandro Gómez
    email = alejandroogomez@gmail.com
[core]
    editor = vim
[alias]
    a = add
    au = add -u
    ap = add -p
    b = branch -va
    c = commit
    ca = commit --amend -C HEAD
    cam = commit --amend
    cm = commit -m
    co = checkout 
    d = diff --word-diff
    dc = diff --cached
    l = log --graph --decorate --no-merges --oneline
    lp = log --graph --decorate --pretty=short -p --word-diff
    tl = log --graph --decorate --branches --oneline
    m = merge
    ph = push
    pl = pull --rebase
    rm = rm --cached
    s = status -sb
    st = stash
    sts = stash save
    sta = stash apply
    stp = stash pop
    std = stash discard
    discard = reset HEAD --hard
[color]
    ui = true
[color "status"]
    untracked = cyan
[help]
    autocorrect = 1
[merge]
    tool = vimdiff
[push]
    default = upstream
[branch]
    autosetuprebase = always
[tig]
    show-date = relative
    line-graphics = ascii
    tab-size = 4
    ignore-space = at-eol
