[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/Color-Sampler-Pack"]
	path = .vim/bundle/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/YankRing.vim"]
	path = .vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/scratch"]
	path = .vim/bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim
[submodule ".vim/bundle/TaskList"]
	path = .vim/bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/Gundo"]
	path = .vim/bundle/Gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule ".vim/bundle/SuperTab"]
	path = .vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule ".vim/bundle/Tabular"]
	path = .vim/bundle/Tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/nginx.vim"]
	path = .vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule ".vim/bundle/FuzzyFinder"]
	path = .vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/solarized-theme"]
	path = .vim/bundle/solarized-theme
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/django.vim"]
	path = .vim/bundle/django.vim
	url = https://github.com/vim-scripts/django.vim.git
[submodule ".vim/bundle/vim-pony"]
	path = .vim/bundle/vim-pony
	url = https://github.com/rainerborene/vim-pony.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git@bitbucket.org:dialelo/snipmate.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/pep8"]
	path = .vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule ".vim/bundle/ropevim"]
	path = .vim/bundle/ropevim
	url = https://github.com/peplin/ropevim.git
[submodule ".vim/bundle/pytest"]
	path = .vim/bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".vim/bundle/Conque"]
	path = .vim/bundle/Conque
	url = git@github.com:alejandrogomez/Conque-Shell.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule ".vim/bundle/inkpot"]
	path = .vim/bundle/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/vim-scripts/pydoc.vim.git
