!
! Custom X11 settings
!

XTerm*font:          -xos4-terminus-bold-r-normal--22-220-72-72-c-110-iso8859-1
XTerm*background:    black
XTerm*foreground:    gray
XTerm*cursorColor:   gray
XTerm*scrollBar:     off

URxvt*font:          -xos4-terminus-bold-r-normal--22-220-72-72-c-110-iso8859-1
URxvt*background:    black
URxvt*foreground:    gray
URxvt*cursorColor:   gray
URxvt*transparent:   true
URxvt*shading:       20
URxvt*scrollBar:     off
URxvt*urlLauncher:   /usr/bin/links
URxvt*underlineURLs: true
